#templateData {
    font-size: 0.9em;
}

#helpForm {
    font-size: 1.5em;
    display: inline-block;
}

.qusTable {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    align-content: center;
    width: 20%;
    border-collapse: collapse;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

#qusT1 {
    margin-left: 50px;
    margin-right: 25px;
}

#qusT2 {
    margin-left: 25px;
    margin-right: 50px;
}

.qusTable th {
    margin-bottom: 30px;
}

.qusTable td th {
    padding: 20px;
}

.srCol {
    padding-left: 20px;
    padding-right: 20px;
}

#infoTable {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    alignment: left;
    height: 300px;
}

#infoTable td {
    padding-left: 20px;
    padding-right: 20px;
}

#hintField {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 30px;
}

#answerText span {
    background-color: rgba(255, 160, 122, 0.5);
}

#buttonField {
    margin-left: 50px;
}

#buttonField button {
    font-size: 1em;
    font-weight: bold;
}


#helpBlock {
    border: 1px solid grey;
    width: 400px;
}

#helpTitle {
    color: blue;
    font-weight: bolder;
}

button {
    margin-left: 20px;
    margin-bottom: 30px;
}

#hintBlock {
    float: left;
}

#genMore {
    float: right;
}

.hintTitle {
    font-weight: bold;
    margin-left: 25px;
}
