.loginForm {
  display: block;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 40%;
  height: 25%;
  padding: 15px 25px 10px;
  border: 2px solid lightgrey;
  border-radius: 10%;
}

.passwordForm {
  margin-bottom: 30px;
  padding-left: 30px;
  width: 200px;
}

.loginButton {
  position: absolute;
  left: 30%;
  width: 30%;
  padding-right: 6px;
  padding-left: 19px;
  border: 2px solid darkgrey;
  border-radius: 10%;
  margin-top: 20%;
}

.makeAccountButton {
  display: block;
  position: absolute;
  top: 60%;
  left: 39%;
}
