#message-textfield {
    width: 600px;
    overflow: scroll;
}

#msg-inbound-panel {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-tile {
    max-width: 30%;
}

#msg-panel-container {
    margin-bottom: 70px;
}