#add-question-body {
	margin: 12px;
	align-items: center;

	align-content: center;
}

#add-question-header {
	margin: 12px;
}

.render-container {
	overflow: hidden;
}

#add-question-button {
	margin-top: 12px;
}

