body {
  min-width:300px;
}

.signUpForm {
  display: block;
  position: relative;
  height: 600px;
  min-height: 500px;
  width: 300px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: 2px solid lightgrey;
  border-radius: 25px;
}

.form {
  display: inline-block;
  position: relative;
  overflow-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
}

.formList {
  position: relative;
  height: 80%;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

.signUpButton {
  display: block;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.typeButton {
  display: inline-block;
  border: 2px solid darkgrey;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.select-button {
  margin-top: 10px;
}
