.formElement {
    padding: 20px;
}

.inputBlock {
    margin-top: 5px;
}

.validateWarn {
    color: red;
    font-size: 0.8em;
    display: inline;
    margin-left: 10px;
    font-weight: bold;
}

.titleText {
    font-weight: bold;
}